@model RecallOnTimeMVC.Models.Employee

@{
    ViewBag.Title = "EditPerpon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>个人资料</h2>

<form class="layui-form" action="/WangLuChao/AddEmployees" method="post" enctype="multipart/form-data" id='fm1' lay-filter="example">
    <table class="layui-table" lay-skin="line" >
        <tr>
            <td align="right" width="20%" ></td>
            <td>
                <img src="@Model.E_Img" width="100" height="100" class="layui-circle" />
            </td>
        </tr>
        <tr>
            <td style="width:20%;" align="right" ><label class="layui-form-label">姓名</label></td>
            <td><input type="text" name="E_Name" placeholder="请输入姓名" value="@Model.E_Name" class="layui-input-inline"></td>
        </tr>
        @*<tr>
            <td><label class="layui-form-label">部门</label></td>
            <td lay-search="">@Html.DropDownList("D_Name", ViewBag.GId as IEnumerable<SelectListItem>, "直接选择或搜索选择", new Dictionary<string, object> { { "lay-search", "" }, { "lay-verify", "required" } })</td>
        </tr>*@
        <tr>
            <td style="width:20%;" align="right"  >
                <label class="layui-form-label">账号</label>
            </td>
            <td>
                <input type="text" name="E_Account" placeholder="请输入账号" value="@Model.E_Account" class="layui-input-inline">
            </td>
        </tr>
        <tr>
            <td style="width:20%;" align="right"  >
                <label class="layui-form-label">密码</label>
            </td>
            <td>
                <input type="password" name="E_Pwd" placeholder="请输入密码" value="@Model.E_Pwd"  class="layui-input-inline">
            </td>
        </tr>
        <tr>
            <td style="width:20%;" align="right"  >
                <label class="layui-form-label">性别</label>
            </td>
            <td>
                <input type="text" value="@Model.E_Sex" name="E_Sex" class="layui-input-inline" />
            </td>
        </tr>
        <tr>
            <td style="width:20%;" align="right"  >
                <label class="layui-form-label">手机</label>
            </td>
            <td>
                <input type="text" name="E_Phone" value="@Model.E_Phone" placeholder="请输入手机" class="layui-input">
            </td>
        </tr>
        <tr>
            <td style="width:20%;" align="right"  ></td>
            <td>
                <input type="button" class="layui-btn" onclick="Back()"  value="返回" />
            </td>
        </tr>
    </table>
</form>
<script>
    function Back()
    {
        location.href = '/XJW/ShowCustom';
    }
</script>
